@import ../../bourbon/bourbon
@import fonts
@import libs
@import vars
@import settings

header
  color: #000
  position: relative
  min-height: 100vh
  background: #fff url("../img/bg.jpg") repeat left top
  opacity: .2
  background-size: cover


